.sui-layout-header {
    background-color: #0078d7;
    color: white;
}
.sui-search-box__submit {
    background: linear-gradient(to bottom right, blue, pink);
    letter-spacing: 0.1em;
}
.sui-search-box__submit:hover {
    background: linear-gradient(to bottom right, blue, pink);
}

.pager-style {
    margin: 2px;
    max-width: 100%;
}

.search-bar {
    margin: 1em;
    margin-bottom: 1em;
    margin-top: 2em;
}

